body{
    background-color: rgb(252, 246, 239);
    border-style: solid;
}
.main h1, h2{
    text-align: center;
}
.burgerImage, .cookieImage, .halwaImage{
    height:auto;
    width:300px;
    border-style:groove;
    border-color:darkblue;
    margin-left:1rem;
}
.halwa1, .halwa2{
    height:300px;
}