body{
    background-color: rgb(252, 246, 239);
    border-style: solid;
}
.main h1, h2{
    text-align: center;
}
h1{
    background-color:rgba(218, 134, 33, 0.726);
    color:rgb(255, 255, 255);
    width:40%;
    padding:10px 0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size: 32px;
    font-family:Inter,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-style:double;
    border-color:black;
    border-radius: 15px;
}
.burgerImage, .cookieImage, .halwaImage{
    height:auto;
    width:300px;
    border-style:groove;
    border-radius:15px;
    border-color:darkblue;
    margin-left:1rem;
}
.halwa1, .halwa2{
    height:300px;
}
p{
    border: 1px solid black;
    margin-left:100px;
    margin-right:100px;
    padding: 10px;
    background-color: darksalmon;
    border-radius:15px;
}

.ingred,
.steps{
    display:inline-block;
    border-radius:15px;
}
.ingred{
    width:20%;
    margin-left:10%;
    background-color:bisque;
}

.steps{
    width:50%;
    float:right;
    margin-right:10%;
    background-color:bisque;
}
h3{
    width:20%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    background-color:yellow;
    border-radius:15px;
}
.return{
    background-color: rgb(126, 223, 101);
    padding:0 10px;
    margin-left:10px;
    color:black;
    border-radius:10px;
}
.return:hover{
    background-color:darkgreen;
    color:white;
}
.desc{
    background-color:coral;
    width:15%;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
}
.inner1{
    width:60%;
}
.inner2{
    width:20%;
}
.inner{
    background-color:coral;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
}