body{
    background-color: blanchedalmond;
    border-style: solid;
}
h1{
    background-color:rgba(0, 255, 149, 0.384);
    color:rgb(255, 102, 0);
    text-align:center;
    font-size: 32px;
    font-family:Inter,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-style:double;
    border-color:black;
}
.images{
    height:auto;
    width:300px;
    border-style:groove;
    border-color:darkblue;
}
.image1{
    margin-left:1.5rem;
}
.image2{
    margin-left:1.5rem;
}
.image3{
    margin-left:1rem;
}
.image4{
    margin-left:1.5rem;
}

ul li a{
    text-decoration:none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color:orange;
    line-height:150%;
}